services:
  server:
    build: ./server
    container_name: server
    ports:
      - "8080:8080"
    networks:
      - minha_rede

  client:
    build: ./client
    container_name: client
    depends_on:
      - server
    networks:
      - minha_rede

networks:
  minha_rede:
    driver: bridge
